:host {
  display: block;
  width: 100%;
  height: 100%;
}

.globe-shell {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}
