@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #081527;
}

* {
  box-sizing: border-box;
}
